<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mymap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".kakaolink.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mymap"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ClassProgressActivity"
            android:exported="false" />
        <activity
            android:name=".dynamiclink.DynamicMainActivity"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".dynamiclink.SehemeActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="testring.com"-->
<!--                    android:scheme="https" />-->
<!--                <data-->
<!--                    android:host="testring.com"-->
<!--                    android:scheme="http" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity
            android:name=".InviteLinkActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- setLink()에 전달하는 링크와 동일한 host, path, scheme -->
                <data
                    android:host="ringtestservice.page.link"
                    android:path="/invite"
                    android:scheme="https" />
                <data
                    android:host="ringtestservice.page.link"
                    android:path="/invite"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".kakaolink.KaKaoMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data
                    android:host="kakaolink"
                    android:scheme="2987a737f843713360586810d1e79cf5" />
            </intent-filter>
        </activity>


        <activity
            android:name=".kakaolink.KaKaoResultActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testring.com"
                    android:scheme="https" />
                <data
                    android:host="testring.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgmrgElGoQAZvCXH0LYSYsojGz18sr4kQ" />

        <activity
            android:name=".Main_Map"
            android:exported="false"
            android:label="@string/title_activity_main_map" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>